body {
    font-family: Comic Sans MS;
    background: url('https://img.freepik.com/free-photo/magical-mystical-landscape-wallpaper-purple-tones_23-2150293426.jpg?t=st=1722171320~exp=1722174920~hmac=1d5716ecc2b6ea503fc442856ebf92f2db110c2b68d4733fd3f012df6301bdee&w=1380') no-repeat center center fixed;
    background-size: cover;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    color: #fff;
}

.container {
    max-width: 1000px; /* Increased max-width for larger frame */
    margin: 0 auto;
    padding: 40px; /* Increased padding for more space inside the container */
    background: rgba(255, 255, 255, 0.1);
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    position: relative; /* For positioning the back-to-top button inside */
}

.logo-container {
    text-align: center;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100px;
}

.marquee {
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.marquee span {
    display: inline-block;
    padding-left: 100%;
    animation: marquee 10s linear infinite;
    color: rgb(18, 17, 17);
    font-weight: 800;
font-size: 24px;
}

@keyframes marquee {
    0% { transform: translate(0, 0); }
    100% { transform: translate(-100%, 0); }
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(252, 250, 250);
}

.form-group input[type="radio"],
.form-group input[type="checkbox"] {
    margin-right: 10px;
}

.form-group select {
    width: 100%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.checkbox-group label {
    display: block;
    margin-bottom: 5px;
    color: rgb(241, 241, 241);
}

.back-to-top {
    display: none;
    position: absolute;
    bottom: 10px; /* Adjust as needed */
    right: 10px; /* Adjust as needed */
    background-color: #000000b3;
    color: #fff;
    padding: 10px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 10; /* Ensure it is above other elements */
}

.additional-info {
    padding: 10px;
    border-radius: 15px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px;
}

.submit {
    border-radius: 10px;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    margin: 5px;
    font-size: 15px;
    font: white;
    font-family: comic sans ms
}